spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/jwt
    username: postgres
    password: 1273
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
      format_sql: true

  application:
    name: tracinglogs
server:
  port: 8080
logging:
  level:
    com:
      example:
        hellospring: trace
    root: info


client_id: ${CLIENT_ID:mobile_admin}
client_credential: ${CLIENT_CREDENTIAL:7her1aml32}
check_authorization_url: ${AUTH_URL:http://localhost:8080/oauth/check_token}
resources_id: ${RESOURCE_ID:ehealth}
