spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/employee
    username: postgres
    password: 1273
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
      format_sql: true

  application:
    name: tracinglogs
server:
  port: 8083
logging:
  level:
    com:
      example:
        hellospring: trace
    root: info
  file:
    name: .myLog/logging

secret: ${SECRET:jwtemployee}
validity: ${VALIDATION:864000000}